/* header */

.banner{
    background-image: url("../img/pattern.png");
    background-size: contain;  
    background-color: #4ea0ff;
    height: 100px;
}
#logo{
    width: 300px;
    height: 50px;
    position: relative;
    top: 50px;
}
h1{
    font-size: 30px;
}
.sotto-titolo{
    color: #888888;
}
.blu{
    color: #52bceb;
}

/* main */

#highlight{
    background-color: yellow;
}
ul{
    padding-left: 15px;
}
.first_row{
    color: white;
    background-color: #20a9e5;
}
.colored_row{
    background-color: #b1e5f2;
}
.sezione{
    padding-right: 200px;
}